<div class="grid__wrapper">

  <h2>Log Data for equipment {{equipmentid}}</h2>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">DateTime</th>
        <th scope="col">Message</th>
        <th scope="col">sources</th>
        <th scope="col">Types</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>05/07/2021 21:00</td>
        <td>an Error detected from Equipment signal</td>
        <td>Equipment Layer</td>
        <td>Error</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>05/07/2021 19:00</td>
        <td>a violation was detected from Equipment signal</td>
        <td>Equipment Layer</td>
        <td>Warning</td>
      </tr>

    </tbody>
  </table>



</div>


<router-outlet></router-outlet>
